
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-1);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-1: #E9DCB9;
    --color-2: #BB772E;
    --color-3: #817D62;
    --color-4: #2E3F53;
    --reef-gold: #9e7422;
    --black: #040404;
    --mercury: #e3e3e3;
    --dallas: #604a22;
    --boulder: #7c7c7c;
    --brown-tumbleweed: #2d1c0b;
    --tuatara: #3c3c3b;
    --mine-shaft: #343434;
  }

  /* Global Styles */
body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-1);
    margin: 0;
    padding: 0;
}
.about-title{
  float: inline-start;}

.container {
    display: grid;
    margin: auto;
    width: 80%;
}

/* About Section */

.container {
    margin: auto;
    width: 80%;
}

/* About Section */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.about-title {
    width: 100%;
    margin-top: 40px;
}

.aa {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.aa p{
    padding: 20px 20px;
}
.img1{
    object-position: center;
}
.img2{
    object-position: top;
}
.aa img {
    max-width: 40%;
    width:40% ;
    max-height: 300px;
    margin-right: 20px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.aa p {
    flex: 1;
    margin-bottom: 20px;
}
.aaa {
     flex-direction: row-reverse;
}

/* Image Styles */
.about-image img {
    max-width: 100%;
    height: auto;
}

/* Responsive */
@media (max-width: 767px) {
    .aa img, .a img {
        max-width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}

/* Responsive */
@media (max-width: 767px) {
    .about-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .aa{
        flex-direction: column;
        align-items: flex-start;
    }

    .aa img {
        max-width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}

.about-image img {
    max-width: 100%;
    height: auto;
}
.about-link{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media(max-width:767px){
    .about-link{
margin-bottom: 30px;
    }
    }
.about-link a{
    margin-left: 10px;
display: block;
background-color: var(--color-2);
height: 30px;
width: 30px;
line-height: 30px;
text-align: center;
border-radius: 50%;
transition: 1.5s ease;
}
.about-link a:hover{
   opacity: 0.10;
}
.about-link a i{
color: white;

}